body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 30vw;
    width: 50vw;
}

.error {
    border: solid 2px red;
}

span {
    display: inline;
    color: red;
    font-size: 12px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    color: red;
}